body{
font-family: monospace;
color: white;
}
div.months{
  display: inline;
}
div{
  border-radius: 5px;
  background-color: red;
  width: 50%;
}
div.cal{
  left: 0px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  background: #f77659;
  width: 30%;
  height: 50%;
}
div.date{
  left: 0px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  background: #3fbbe2;
  width: 30%;
  height: 50%;
}
div.events{
  left: 0px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  background-color: #d5e9ed;
  width: 30%;
  height: 50%;
}
div.months{
  display: block;
  font-size: 14px;
  font-weight: bold;
  background: #3fbbe2;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5%;
  height: 50%;
}
